@media (min-width: 992px) {
    .sub-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .section {
        padding-left: 1rem;
        padding-right:  1rem;
        padding-top: 0;
        padding-bottom: 0;
    }

    #summary {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
    }

    #skills {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}